SetEnv TZ America/New_York
AddDefaultCharset utf-8

RewriteEngine On

#Add trailing slash automatically
RewriteCond %{REQUEST_URI} !(/$|\.)
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

#Index SPA pages
RewriteRule    ^sell/?$         /index.php?page=sell         [NC,L]
RewriteRule    ^account/?$      /index.php?page=account      [NC,L]
RewriteRule    ^faq/?$          /index.php?page=faq          [NC,L]
RewriteRule    ^feedback/?$     /index.php?page=feedback     [NC,L]
RewriteRule    ^legal/?$        /index.php?page=legal        [NC,L]

#Remove .php from files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#Remove .html from files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

#Protect sensitive files
<filesMatch ".(htaccess|htpasswd|ini|phps|fla|log|sh)$">
Order Allow,Deny
Deny from all
</filesMatch>

#Error Documents
ErrorDocument 400 /?e=400
ErrorDocument 401 /?e=401
ErrorDocument 403 /?e=403
ErrorDocument 404 /?e=404
ErrorDocument 405 /?e=405
ErrorDocument 408 /?e=408
ErrorDocument 414 /?e=414
ErrorDocument 500 /?e=500
ErrorDocument 502 /?e=502
ErrorDocument 504 /?e=504
ErrorDocument 508 /?e=508
